{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container-fluid account">
    <div class="img-account">
        <img src="{{ asset('/images/bkg5.jpg') }}" alt="image-accueil" class="img-fluid img-container">
    </div>
    <div class="ico-form">
        <div class="container container-colored no-arrow pt-5 pb-5">
            <h1 class="text-center">Voici toutes vos annonces !</h1>
            <div class="row">
                {% for annonce in annonces %}
                    {% include "annonce/_card.html.twig" %}
                {% else %}
                    <div>
                        <p>no records found</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
