.homepage {
    .img-home {
        position: relative;
        &::before {
            position: absolute;
            right: 0;
            content: "";
            display: block;
            background-color: #2032378d;
            height: 100%;
            width: 40%;

        }
    }
    .cool {
        font-size: clamp(1.5rem, 4vw + 1rem, 5rem) !important;
        word-break: break-word;
        color: $white;
        font-weight: 800;
        position: absolute;
        width: 40%;
        right: 0px;
        top: 40%;
        padding: 0 50px;
    }

}

.all-announces {
    .img-top {
        border-radius: 50px;
        transform: rotate(-3deg);
        box-shadow: -20px 18px 20px #0000004a;
        border-bottom: 5px solid $orange;
    }
    .form-title {
        font-size: clamp(1rem, 4vw + 0.8rem, 2rem);
        font-weight: 600;
    }

    hr {
        border: none; /* Supprime la bordure par défaut */
        height: 10px; /* Modifie la hauteur (épaisseur) */
        background-color: $orange; /* Change la couleur (remplace par la couleur de ton choix) */
        width: 80%; /* Largeur de la ligne (ici 80% de la largeur du conteneur) */
        margin: 10px auto; /* Centre la ligne horizontalement et ajoute une marge */
    }
}

.one-announce {
    overflow: visible !important;
    .carousel {
        transform: rotate(-2deg);
    }
    .img-carousel {
        height: 500px;
        object-fit: cover;
        width: 100%;
        border-radius: 50px;
        border-bottom: 5px solid $orange;
    }
    

    h1, h2, h3, h4 {
        text-align: center;
    }

    strong {
        font-size: 1.5rem;
    }

    .icon {
        max-width: 50px;
    }

    .container-announce {
        position: relative;
        overflow: visible;
        &::before{
            position: absolute;
            text-align: left;
            top: -35px;
            display: block;
            font-weight: 600;
            content: "Description du vendeur";
            font-size: 2rem;
            text-shadow: -6px 1px 10px $dark;
            color: $white;
        }
    }

}
.new-announce {
    .bg-announce {
        max-height: 300px;
        height: 50vh;
        .img-container {
            object-position: bottom;
        }
    }

    .ico-form {
        &::before{
            font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0a1";
            top: -2%;
        }
    }
}
.account {
    .img-top {
        border-radius: 50px;
        transform: rotate(-3deg);
        box-shadow: -20px 18px 20px #0000004a;
        border-bottom: 5px solid $orange;
    }
    .container-colored {
        overflow: visible;
    }
    .img-account {
        max-height: 500px;
        height: 50vh;
    }
}

.conversations {
    .img-top {
        border-radius: 50px;
        transform: rotate(-3deg);
        box-shadow: -20px 18px 20px #0000004a;
        border-bottom: 5px solid $orange;
    }
    .list-groups {
        p {
            color: $dark;
        }
        .btn {
            padding: 5px 30px;
            font-size: 1rem;
        }
        .list-group-item {
            border-radius: 25px;
        }
    }
    strong {
        font-size: 1.5rem;
    }

    .contact-message {
        padding: 20px 20px;
        border-radius: 20px;
        margin: 10px;
        text-align: left;
        background: $dark;
        color: white;
        strong {
            background: none;
            -webkit-text-fill-color: white !important;
            color: white !important;
        }
    }

    .contact-color {
        background: $grey;
        color: $dark;
        text-align: right;
        strong {
            background: none;
            -webkit-text-fill-color: $dark !important;
            color: $dark !important;
        }
    }

    .card-header {
        img {
            border-radius: 50px !important;
        }
    }
}