<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Confirmation de commande - ulmavendre.fr</title>
</head>
<body>
	<p>Cher(e) utilisateur/trice,</p>
	<p>
		<strong>Votre commande a été traitée avec succès ! </strong><br>
		Nous allons très prochainement créer pour vous une publicité ciblée, d'une durée de <strong>6 jours, sur nos pages <a class="link-white" href="https://www.facebook.com/ulmavendre" rel="external nofollow">Facebook</a> et <a class="link-white" href="https://www.instagram.com/ulmavendre.fr" rel="external nofollow">Instagram</a> officielles</strong>.<br>
		Nous souhaitons également vous informer qu'à la fin de cette période publicitaire, vous recevrez un rapport détaillé sur les performances de votre annonce. Ce rapport comprendra des informations clés telles que le nombre de vues, les interactions et tout autre indicateur pertinent.
		<br>
		Vous avez également validé l'option de référencement premium pour <strong>donner un coup de fouet à votre annonce</strong>. Votre annonce dispose désormais d'une <strong>page optimisée plus attrayante et percutante</strong>, pour une durée d'un mois.<br>
		Nous tenons à vous remercier sincèrement d'avoir choisi notre plateforme pour promouvoir votre annonce. Nous sommes déterminés à fournir un service de qualité et à vous aider à atteindre vos objectifs de manière efficace.<br>

		Si vous avez des questions supplémentaires ou des préoccupations, n'hésitez pas à nous contacter. Nous sommes là pour vous aider.<br>
		Cordialement,<br>

		Raphaël - ulmavendre.fr
	</p>
</body>
</html>