<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Merci de vous être inscrit(e) sur ulmavendre.fr !</title>
</head>
<body>
	<p>Cher(e) utilisateur/trice,</p>
	<p>
	Nous sommes ravis de vous accueillir sur ulmavendre.fr ! <strong>Votre inscription a été confirmée avec succès !</strong><br><br>
	Vous pouvez dès maintenant vous connecter à votre compte pour commencer à explorer les différentes fonctionnalités de notre site web !<br><br>
	Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter via notre formulaire de contact ou en répondant directement à cet e-mail. Nous sommes à votre disposition pour vous aider à tirer le meilleur parti de votre expérience sur ulmavendre.fr.<br>
	Encore une fois, merci de votre inscription et de votre confiance pour notre plateforme.<br><br>
	Cordialement,<br>

	Raphaël - ulmavendre.fr
	</p>
</body>
</html>
